.backgroundColour{
    -fx-background-color: linear-gradient(to right bottom, RGB(135,182,239),RGB(170,201,445),RGB(224,240,252))
}
    /* -fx-background-color: linear-gradient(to right bottom, RGB(52,38,114),RGB(116,89,187),RGB(176,151,225)) */

.button{
    -fx-background-color: white;
    -fx-border-color: rgb(90, 127, 145);
    -fx-border-radius: 5;

}